
//Colors
$blue: #0082CA;
$blue-2: #0788ce;
$primary: $blue !default;
$vivid-blue: #018FDE;
$soft-blue: #58b3f3;
$ligth-blue:#F3F6FE;
$blue-navy:#112C46;
$blue-dark: #02305A;
$deep-blue: #022047;
$darker: #192229;
$dark: #212e36;
$white: #FFF;
$gray: #D1D1D1;
$gray-medium: #606060;
$gray-dark: #898D95;
$black: #000;
$yellow: #FFB037;
$green: #06CB75;
$aqua: #06B0CB;
$red: #cf0000;

